<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <header>
        <h1>Dhruv / N01578896</h1>
        <h1>Simranjit / N01579166</h1>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>Email: n01578896@humber.ca</p>
        <p>Email: N01579166@humber.ca</p>
    </footer>
</body>

</html>